interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.planningcenteronline.com/people/v2/people/34765191
  response:
    body: {string: '{"data":{"type":"Person","id":"34765191","attributes":{"anniversary":null,"avatar":"https://people.planningcenteronline.com/static/no_photo_thumbnail_boy_gray.svg","birthdate":null,"child":true,"created_at":"2018-02-20T20:59:57Z","demographic_avatar_url":"https://people.planningcenteronline.com/static/no_photo_thumbnail_boy_gray.svg","first_name":"Pico","gender":"M","given_name":null,"grade":null,"graduation_year":null,"inactivated_at":null,"last_name":"Robot","medical_notes":null,"membership":null,"middle_name":null,"name":"Pico
        Robot","nickname":null,"people_permissions":null,"remote_id":null,"school_type":null,"site_administrator":false,"status":"active","updated_at":"2018-02-21T20:15:38Z"},"links":{"addresses":"https://api.planningcenteronline.com/people/v2/people/34765191/addresses","apps":"https://api.planningcenteronline.com/people/v2/people/34765191/apps","connected_people":"https://api.planningcenteronline.com/people/v2/people/34765191/connected_people","emails":"https://api.planningcenteronline.com/people/v2/people/34765191/emails","field_data":"https://api.planningcenteronline.com/people/v2/people/34765191/field_data","household_memberships":"https://api.planningcenteronline.com/people/v2/people/34765191/household_memberships","households":"https://api.planningcenteronline.com/people/v2/people/34765191/households","inactive_reason":null,"marital_status":null,"message_groups":"https://api.planningcenteronline.com/people/v2/people/34765191/message_groups","messages":"https://api.planningcenteronline.com/people/v2/people/34765191/messages","name_prefix":null,"name_suffix":null,"person_apps":"https://api.planningcenteronline.com/people/v2/people/34765191/person_apps","phone_numbers":"https://api.planningcenteronline.com/people/v2/people/34765191/phone_numbers","school":null,"social_profiles":"https://api.planningcenteronline.com/people/v2/people/34765191/social_profiles","workflow_cards":"https://api.planningcenteronline.com/people/v2/people/34765191/workflow_cards","self":"https://api.planningcenteronline.com/people/v2/people/34765191"}},"included":[],"meta":{"can_include":["addresses","emails","field_data","households","inactive_reason","marital_status","name_prefix","name_suffix","person_apps","phone_numbers","school","social_profiles"],"parent":{"id":"197716","type":"Organization"}}}'}
    headers:
      Content-Type: [application/vnd.api+json; charset=utf-8; charset=utf-8]
      ETag: [W/"90bf6f3f622e321f6278231a0a861d98"]
      Status: [200 OK]
      X-PCO-API-Auth-Method: [HTTPBasic]
      X-PCO-API-Request-Rate-Count: ['1']
      X-PCO-API-Request-Rate-Limit: ['100']
      X-PCO-API-Request-Rate-Period: [20 seconds]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.planningcenteronline.com/people/v2/people/34765191/emails
  response:
    body: {string: '{"links":{"self":"https://api.planningcenteronline.com/people/v2/people/34765191/emails"},"data":[{"type":"Email","id":"23698235","attributes":{"address":"pico@notarealaddress.com","created_at":"2018-02-21T19:34:29Z","location":"Home","primary":false,"updated_at":"2018-02-21T19:34:29Z"},"links":{"self":"https://api.planningcenteronline.com/people/v2/emails/23698235"},"relationships":{"person":{"data":{"type":"Person","id":"34765191"}}}}],"included":[],"meta":{"total_count":1,"count":1,"can_order_by":["address","location","primary","created_at","updated_at"],"can_query_by":["address","location","primary"],"parent":{"id":"34765191","type":"Person"}}}'}
    headers:
      Content-Type: [application/vnd.api+json; charset=utf-8; charset=utf-8]
      ETag: [W/"19bcd0cd2e06327a5a52eff4ebefb586"]
      Status: [200 OK]
      X-PCO-API-Auth-Method: [HTTPBasic]
      X-PCO-API-Request-Rate-Count: ['2']
      X-PCO-API-Request-Rate-Limit: ['100']
      X-PCO-API-Request-Rate-Period: [20 seconds]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.planningcenteronline.com/people/v2/people?where%5Bid%5D=34765191
  response:
    body: {string: '{"links":{"self":"https://api.planningcenteronline.com/people/v2/people?where[id]=34765191"},"data":[{"type":"Person","id":"34765191","attributes":{"anniversary":null,"avatar":"https://people.planningcenteronline.com/static/no_photo_thumbnail_boy_gray.svg","birthdate":null,"child":true,"created_at":"2018-02-20T20:59:57Z","dem[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.planningcenteronline.com/people/v2/people/34765191/addresses
  response:
    body: {string: '{"links":{"self":"https://api.planningcenteronline.com/people/v2/people/34765191/addresses"},"data":[],"included":[],"meta":{"total_count":0,"count":0,"can_order_by":["city","state","zip","street","location","primary","created_at","updated_at"],"can_query_by":["city","state","zip","street","location","primary"],"parent":{"id":"34765191","type":"Person"}}}'}
    headers:
      Content-Type: [application/vnd.api+json; charset=utf-8; charset=utf-8]
      ETag: [W/"89ad24cc67ec36dc705990fee2ea7833"]
      Status: [200 OK]
      X-PCO-API-Auth-Method: [HTTPBasic]
      X-PCO-API-Request-Rate-Count: ['6']
      X-PCO-API-Request-Rate-Limit: ['100']
      X-PCO-API-Request-Rate-Period: [20 seconds]
    status: {code: 200, message: OK}
version: 1
