interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.planningcenteronline.com/people/v2/people/34765191
  response:
    body: {string: '{"data":{"type":"Person","id":"34765191","attributes":{"anniversary":null,"avatar":"https://people.planningcenteronline.com/static/no_photo_thumbnail_man_gray.svg","birthdate":null,"child":false,"created_at":"2018-02-20T20:59:57Z","demographic_avatar_url":"https://people.planningcenteronline.com/static/no_photo_thumbnail_man_gray.svg","first_name":"Pico","gender":"M","given_name":null,"grade":null,"graduation_year":null,"inactivated_at":null,"last_name":"Robot","medical_notes":null,"membership":null,"middle_name":null,"name":"Pico
        Robot","nickname":null,"people_permissions":null,"remote_id":null,"school_type":null,"site_administrator":false,"status":"active","updated_at":"2018-02-28T13:14:59Z"},"links":{"addresses":"https://api.planningcenteronline.com/people/v2/people/34765191/addresses","apps":"https://api.planningcenteronline.com/people/v2/people/34765191/apps","connected_people":"https://api.planningcenteronline.com/people/v2/people/34765191/connected_people","emails":"https://api.planningcenteronline.com/people/v2/people/34765191/emails","field_data":"https://api.planningcenteronline.com/people/v2/people/34765191/field_data","household_memberships":"https://api.planningcenteronline.com/people/v2/people/34765191/household_memberships","households":"https://api.planningcenteronline.com/people/v2/people/34765191/households","inactive_reason":null,"marital_status":null,"message_groups":"https://api.planningcenteronline.com/people/v2/people/34765191/message_groups","messages":"https://api.planningcenteronline.com/people/v2/people/34765191/messages","name_prefix":null,"name_suffix":null,"notes":"https://api.planningcenteronline.com/people/v2/people/34765191/notes","person_apps":"https://api.planningcenteronline.com/people/v2/people/34765191/person_apps","phone_numbers":"https://api.planningcenteronline.com/people/v2/people/34765191/phone_numbers","school":null,"social_profiles":"https://api.planningcenteronline.com/people/v2/people/34765191/social_profiles","workflow_cards":"https://api.planningcenteronline.com/people/v2/people/34765191/workflow_cards","self":"https://api.planningcenteronline.com/people/v2/people/34765191"}},"included":[],"meta":{"can_include":["addresses","emails","field_data","households","inactive_reason","marital_status","name_prefix","name_suffix","person_apps","phone_numbers","school","social_profiles"],"parent":{"id":"197716","type":"Organization"}}}'}
    headers:
      Content-Type: [application/vnd.api+json; charset=utf-8; charset=utf-8]
      ETag: [W/"f2a35e38d987d159c81094d2fe1d3983"]
      Status: [200 OK]
      X-PCO-API-Auth-Method: [HTTPBasic]
      X-PCO-API-Request-Rate-Count: ['1']
      X-PCO-API-Request-Rate-Limit: ['100']
      X-PCO-API-Request-Rate-Period: [20 seconds]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.planningcenteronline.com/people/v2/emails/12084502
  response:
    body: {string: '{"data":{"type":"Email","id":"12084502","attributes":{"address":"paul@notarealaddress.com","created_at":"2016-04-23T01:19:54Z","location":"Home","primary":false,"updated_at":"2018-02-27T14:36:48Z"},"links":{"person":"https://api.planningcenteronline.com/people/v2/people/16555904","self":"https://api.planningcenteronline.com/people/v2/emails/12084502"},"relationships":{"person":{"data":{"type":"Person","id":"16555904"}}}},"included":[],"meta":{"parent":{"id":"197716","type":"Organization"}}}'}
    headers:
      Content-Type: [application/vnd.api+json; charset=utf-8; charset=utf-8]
      ETag: [W/"6ffef0dab7a6839960d2c048f88eedfd"]
      Status: [200 OK]
      X-PCO-API-Auth-Method: [HTTPBasic]
      X-PCO-API-Request-Rate-Count: ['2']
      X-PCO-API-Request-Rate-Limit: ['100']
      X-PCO-API-Request-Rate-Period: [20 seconds]
    status: {code: 200, message: OK}
[...]
