interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.planningcenteronline.com/people/v2/people
  response:
    body: {string: '{"links":{"self":"https://api.planningcenteronline.com/people/v2/people"},"data":[{"type":"Person","id":"40135868","attributes":{"anniversary":null,"avatar":"https://people.planningcenteronline.com/static/no_photo_thumbnail_gray.png","birthdate":null,"child":false,"created_at":"2018-08-03T01:13:32Z","demographic_avatar_url":"https://people.planningcenteronline.com/static/no_photo_thumbnail_gray.png","first_name":"Bill","gender":null,"given_name":null,"grade":null,"graduation_year":null,"inactivated_at":null,"last_name":"Deitrick","medical_notes":null,"membership":null,"middle_name":null,"name":"Bill
        Deitrick","nickname":null,"people_permissions":null,"remote_id":null,"school_type":null,"site_administrator":true,"status":"active","updated_at":"2018-09-23T20:26:41Z"},"relationships":{"primary_campus":{"data":null}},"links":{"self":"https://api.planningcenteronline.com/people/v2/people/40135868"}}],"included":[],"meta":{"total_count":1,"count":1,"can_order_by":["given_name","first_name","nickname","middle_name","last_name","birthdate","anniversary","gender","grade","child","school_type","graduation_year","site_administrator","people_permissions","membership","inactivated_at","status","medical_notes","created_at","updated_at","remote_id"],"can_query_by":["given_name","first_name","nickname","middle_name","last_name","birthdate","anniversary","gender","grade","child","school_type","graduation_year","site_administrator","people_permissions","membership","inactivated_at","status","medical_notes","created_at","updated_at","remote_id","search_name","search_name_or_email","id"],"can_include":["addresses","emails","field_data","households","inactive_reason","marital_status","name_prefix","name_suffix","person_apps","phone_numbers","platform_notifications","primary_campus","school","social_profiles"],"can_filter":["created_since","admins","organization_admins"],"parent":{"id":"263468","type":"Organization"}}}'}
    headers:
      Content-Type: [application/vnd.api+json; charset=utf-8]
      ETag: [W/"b8bb476f648e92daa3c8ba6f740b49de"]
      X-PCO-API-Auth-Method: [HTTPBasic]
      X-PCO-API-Request-Rate-Count: ['1']
      X-PCO-API-Request-Rate-Limit: ['100']
      X-PCO-API-Request-Rate-Period: [20 seconds]
      X-Pco-Api-Processed-As-Version: ['2018-08-01']
    status: {code: 200, message: OK}
version: 1
