interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.planningcenteronline.com/people/v2/people/23232378
  response:
    body: {string: '{"data":{"type":"Person","id":"23232378","attributes":{"anniversary":null,"avatar":"https://people.planningcenteronline.com/static/no_photo_thumbnail_woman_gray.svg","birthdate":"1960-01-01","child":false,"created_at":"2017-01-18T13:56:54Z","demographic_avatar_url":"https://people.planningcenteronline.com/static/no_photo_thumbnail_woman_gray.svg","first_name":"Martha","gender":"F","given_name":null,"grade":null,"graduation_year":null,"inactivated_at":null,"last_name":"Washington","medical_notes":null,"membership":"Participant","middle_name":null,"name":"Martha
        Washington","nickname":null,"people_permissions":null,"remote_id":null,"school_type":null,"site_administrator":false,"status":"active","updated_at":"2018-03-02T02:01:50Z"},"links":{"addresses":"https://api.planningcenteronline.com/people/v2/people/23232378/addresses","apps":"https://api.planningcenteronline.com/people/v2/people/23232378/apps","connected_people":"https://api.planningcenteronline.com/people/v2/people/23232378/connected_people","emails":"https://api.planningcenteronline.com/people/v2/people/23232378/emails","field_data":"https://api.planningcenteronline.com/people/v2/people/23232378/field_data","household_memberships":"https://api.planningcenteronline.com/people/v2/people/23232378/household_memberships","households":"https://api.planningcenteronline.com/people/v2/people/23232378/households","inactive_reason":null,"marital_status":"https://api.planningcenteronline.com/people/v2/marital_statuses/1764438","message_groups":"https://api.planningcenteronline.com/people/v2/people/23232378/message_groups","messages":"https://api.planningcenteronline.com/people/v2/people/23232378/messages","name_prefix":"https://api.planningcenteronline.com/people/v2/name_prefixes/1764418","name_suffix":null,"notes":"https://api.planningcenteronline.com/people/v2/people/23232378/notes","person_apps":"https://api.planningcenteronline.com/people/v2/people/23232378/person_apps","phone_numbers":"https://api.planningcenteronline.com/people/v2/people/23232378/phone_numbers","school":null,"social_profiles":"https://api.planningcenteronline.com/people/v2/people/23232378/social_profiles","workflow_cards":"https://api.planningcenteronline.com/people/v2/people/23232378/workflow_cards","self":"https://api.planningcenteronline.com/people/v2/people/23232378"}},"included":[],"meta":{"can_include":["addresses","emails","field_data","households","inactive_reason","marital_status","name_prefix","name_suffix","person_apps","phone_numbers","school","social_profiles"],"parent":{"id":"197716","type":"Organization"}}}'}
    headers:
      Content-Type: [application/vnd.api+json; charset=utf-8; charset=utf-8]
      ETag: [W/"c20f0a3799f3af27dbfd9ee9fa2c2c62"]
      Status: [200 OK]
      X-PCO-API-Auth-Method: [HTTPBasic]
      X-PCO-API-Request-Rate-Count: ['1']
      X-PCO-API-Request-Rate-Limit: ['100']
      X-PCO-API-Request-Rate-Period: [20 seconds]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.planningcenteronline.com/people/v2/name_prefixes/1764418
  response:
    body: {string: '{"data":{"type":"NamePrefix","id":"1764418","attributes":{"value":"Rev."},"links":{"self":"https://api.planningcenteronline.com/people/v2/name_prefixes/1764418"}},"included":[],"meta":{"parent":{"id":"197716","type":"Organization"}}}'}
    headers:
      Content-Type: [application/vnd.api+json; charset=utf-8; charset=utf-8]
      ETag: [W/"c9049cbd32f731bd6f6f67958594e0a0"]
      Status: [200 OK]
      X-PCO-API-Auth-Method: [HTTPBasic]
      X-PCO-API-Request-Rate-Count: ['2']
      X-PCO-API-Request-Rate-Limit: ['100']
      X-PCO-API-Request-Rate-Period: [20 seconds]
    status: {code: 200, message: OK}
- request:
    body: '{"data": {"type": "Person", "id": "23232378", "relationships": {"name_prefix":
      {"data": {"type": "NamePrefix", "id": "1764418"}}}}}'
    headers:
      Content-Type: [application/json]
    method: PATCH
    uri: https://api.planningcenteronline.com/people/v2/people/23232378
  response:
    body: {string: '{"data":{"type":"Person","id":"23232378","attributes":{"anniversary":null,"avatar":"https://people.planningcenteronline.com/static/no_photo_thumbnail_woman_gray.svg","birthdate":"1960-01-01","child":false,"created_at":"2017-01-18T13:56:54Z","demogra[...]
[...]
