interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.planningcenteronline.com/resources/v2/resources
  response:
    body: {string: '{"links":{"self":"https://api.planningcenteronline.com/resources/v2/resources"},"data":[{"type":"Resource","id":"371213","attributes":{"created_at":"2018-11-17T18:50:18Z","description":null,"expires_at":null,"home_location":null,"image":{"url":null,"thumb":{"url":null}},"kind":"Resource","name":"Food
        Table [Sample]","quantity":10,"serial_number":null,"updated_at":"2018-11-17T18:50:19Z"},"relationships":{"resource_folder":{"data":null}},"links":{"self":"https://api.planningcenteronline.com/resources/v2/resources/371213"}},{"type":"Resource","id":"371214","attributes":{"created_at":"2018-11-17T18:50:18Z","description":null,"expires_at":null,"home_location":null,"image":{"url":null,"thumb":{"url":null}},"kind":"Room","name":"Main
        Auditorium [Sample]","quantity":1,"serial_number":null,"updated_at":"2018-11-17T18:50:19Z"},"relationships":{"resource_folder":{"data":null}},"links":{"self":"https://api.planningcenteronline.com/resources/v2/resources/371214"}},{"type":"Resource","id":"371215","attributes":{"created_at":"2018-11-17T18:50:18Z","description":null,"expires_at":null,"home_location":null,"image":{"url":null,"thumb":{"url":null}},"kind":"Room","name":"Green
        Room [Sample]","quantity":1,"serial_number":null,"updated_at":"2018-11-17T18:50:19Z"},"relationships":{"resource_folder":{"data":null}},"links":{"self":"https://api.planningcenteronline.com/resources/v2/resources/371215"}},{"type":"Resource","id":"371216","attributes":{"created_at":"2018-11-17T18:50:18Z","description":null,"expires_at":null,"home_location":null,"image":{"url":null,"thumb":{"url":null}},"kind":"Resource","name":"Mobile
        Coffee Cart [Sample]","quantity":1,"serial_number":null,"updated_at":"2018-11-17T18:50:19Z"},"relationships":{"resource_folder":{"data":null}},"links":{"self":"https://api.planningcenteronline.com/resources/v2/resources/371216"}}],"included":[],"meta":{"total_count":4,"count":4,"can_order_by":["name","created_at","updated_at","expires_at"],"can_query_by":["name","kind","serial_number","created_at","updated_at"],"can_include":["event_resource_requests","resource_approval_groups","resource_questions","conflicts","room_setups"],"can_filter":["rooms","resources"],"parent":{"id":"263468","type":"Organization"}}}'}
    headers:
      Content-Type: [application/vnd.api+json; charset=utf-8]
      ETag: [W/"fe899b628b7da9ec7851827c51c9918a"]
      X-PCO-API-Auth-Method: [HTTPBasic]
      X-PCO-API-Request-Rate-Count: ['1']
      X-PCO-API-Request-Rate-Limit: ['100']
      X-PCO-API-Request-Rate-Period: [20 seconds]
      X-Pco-Api-Processed-As-Version: ['2018-08-01']
    status: {code: 200, message: OK}
version: 1
