interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.planningcenteronline.com/people/v2/people/35476772
  response:
    body: {string: '{"data":{"type":"Person","id":"35476772","attributes":{"anniversary":null,"avatar":"https://people.planningcenteronline.com/static/no_photo_thumbnail_man_gray.svg","birthdate":null,"child":false,"created_at":"2018-03-13T15:40:01Z","demographic_avatar_url":"https://people.planningcenteronline.com/static/no_photo_thumbnail_man_gray.svg","first_name":"Abraham","gender":"M","given_name":null,"grade":null,"graduation_year":null,"inactivated_at":null,"last_name":"Lincoln","medical_notes":null,"membership":null,"middle_name":null,"name":"Abraham
        Lincoln","nickname":null,"people_permissions":null,"remote_id":null,"school_type":null,"site_administrator":false,"status":"active","updated_at":"2018-03-13T15:40:10Z"},"links":{"addresses":"https://api.planningcenteronline.com/people/v2/people/35476772/addresses","apps":"https://api.planningcenteronline.com/people/v2/people/35476772/apps","connected_people":"https://api.planningcenteronline.com/people/v2/people/35476772/connected_people","emails":"https://api.planningcenteronline.com/people/v2/people/35476772/emails","field_data":"https://api.planningcenteronline.com/people/v2/people/35476772/field_data","household_memberships":"https://api.planningcenteronline.com/people/v2/people/35476772/household_memberships","households":"https://api.planningcenteronline.com/people/v2/people/35476772/households","inactive_reason":null,"marital_status":null,"message_groups":"https://api.planningcenteronline.com/people/v2/people/35476772/message_groups","messages":"https://api.planningcenteronline.com/people/v2/people/35476772/messages","name_prefix":null,"name_suffix":null,"notes":"https://api.planningcenteronline.com/people/v2/people/35476772/notes","person_apps":"https://api.planningcenteronline.com/people/v2/people/35476772/person_apps","phone_numbers":"https://api.planningcenteronline.com/people/v2/people/35476772/phone_numbers","platform_notifications":"https://api.planningcenteronline.com/people/v2/people/35476772/platform_notifications","school":null,"social_profiles":"https://api.planningcenteronline.com/people/v2/people/35476772/social_profiles","workflow_cards":"https://api.planningcenteronline.com/people/v2/people/35476772/workflow_cards","self":"https://api.planningcenteronline.com/people/v2/people/35476772"}},"included":[],"meta":{"can_include":["addresses","emails","field_data","households","inactive_reason","marital_status","name_prefix","name_suffix","person_apps","phone_numbers","platform_notifications","school","social_profiles"],"parent":{"id":"197716","type":"Organization"}}}'}
    headers:
      Content-Type: [application/vnd.api+json; charset=utf-8; charset=utf-8]
      ETag: [W/"cc787abb0f01c1c4fd451d15dffd641a"]
      Status: [200 OK]
      X-PCO-API-Auth-Method: [HTTPBasic]
      X-PCO-API-Request-Rate-Count: ['1']
      X-PCO-API-Request-Rate-Limit: ['100']
      X-PCO-API-Request-Rate-Period: [20 seconds]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"data": {"type": "Household", "attributes": {"name": "Lincoln Household"},
      "relationships": {"primary_contact": {"data": {"type": "Person", "id": "35476772"}},
      "people": {"data": [{"type": "Person", "id": "35476772"}, {"type": "Person",
      "id": "35476793"}, {"type": "Person", "id": "35476796"}]}}}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.planningcenteronline.com/people/v2/households
  response:
    body: {string: '{"data":{"type":"Household","id":"4914618","attributes":{"created_at":"2018-03-13T17:07:31Z","member_count":null,"name":"Lincoln
        Household","primary_contact_id":"35476772","primary_contact_name":"Abraham
        Lincoln","updated_at":"2018-03-13T17:07:31Z"},"links":{"household_memberships":"https://api.planningcenteronline.com/people/v2/households/4914618/household_memberships","people":"https://api.planningcenteronline.com/people/v2/households/4914618/people","self":"https://api.planningcenteronline.com/people/v2/households/4914618"}},"included":[],"meta":{"can_include":["people"],"parent":{"id":"197716","type":"Organization"}}}'}
    headers:
      Content-Type: [application/vnd.api+json; charset=utf-8; charset=utf-8]
      ETag: [W/"de45e24306ac6f1e2580ec363171c262"]
      Status: [201 Created]
      X-PCO-API-Auth-Method: [HTTPBasic]
      X-PCO-API-Request-Rate-Count: ['11']
      X-PCO-API-Request-Rate-Limit: ['100']
      X-PCO-API-Request-Rate-Period: [20 seconds]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.planningcenteronline.com/people/v2/households/4914618
  response:
    body: {string: '{"data":{"type":"Household","id":"4914618","attributes":{"created_at":"2018-03-13T17:07:31Z","member_count":3,"name":"Lincoln
        Household","primary_contact_id":"35476772","primary_contact_name":"Abraham
        Lincoln","updated_at":"2018-03-13T17:07:31Z"},"links":{"household_memberships":"https://api.planningcenteronline.com/people/v2/households/4914618/household_memberships","people":"https://api.planningcenteronline.com/people/v2/households/4914618/people","self":"https://api.planningcenteronline.com/people/v2/households/4914618"}},"included":[],"meta":{"can_include":["people"],"parent":{"id":"197716","type":"Organization"}}}'}
    headers:
      Content-Type: [application/vnd.api+json; charset=utf-8; charset=utf-8]
      ETag: [W/"a8b2cabf638739824ac2cb663001d00d"]
      Status: [200 OK]
      X-PCO-API-Auth-Method: [HTTPBasic]
      X-PCO-API-Request-Rate-Count: ['12']
      X-PCO-API-Request-Rate-Limit: ['100']
      X-PCO-API-Request-Rate-Period: [20 seconds]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.planningcenteronline.com/people/v2/households/4914618/people
  response:
    body: {string: '{"links":{"self":"https://api.planningcenteronline.com/people/v2/households/4914618/people"},"data":[{"type":"Person","id":"35476772","attributes":{"anniversary":null,"avatar":"https://people.planningcenteronline.com/static/no_photo_thumbnail_man_gray.svg","birthdate":null,"child":false,"created_at":"2018-03-13T15:40:01Z","demogr[...]
