interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.planningcenteronline.com/people/v2/people/23232372
  response:
    body: {string: '{"data":{"type":"Person","id":"23232372","attributes":{"anniversary":"1980-01-01","avatar":"https://people.planningcenteronline.com/static/no_photo_thumbnail_man_gray.svg","birthdate":"1960-10-01","child":false,"created_at":"2017-01-18T13:56:06Z","demographic_avatar_url":"https://people.planningcenteronline.com/static/no_photo_thumbnail_man_gray.svg","first_name":"George","gender":"M","given_name":null,"grade":null,"graduation_year":null,"inactivated_at":null,"last_name":"Washington","medical_notes":null,"membership":"Participant","middle_name":null,"name":"George
        Washington Sr.","nickname":null,"people_permissions":null,"remote_id":null,"school_type":null,"site_administrator":false,"status":"active","updated_at":"2018-02-28T17:50:51Z"},"links":{"addresses":"https://api.planningcenteronline.com/people/v2/people/23232372/addresses","apps":"https://api.planningcenteronline.com/people/v2/people/23232372/apps","connected_people":"https://api.planningcenteronline.com/people/v2/people/23232372/connected_people","emails":"https://api.planningcenteronline.com/people/v2/people/23232372/emails","field_data":"https://api.planningcenteronline.com/people/v2/people/23232372/field_data","household_memberships":"https://api.planningcenteronline.com/people/v2/people/23232372/household_memberships","households":"https://api.planningcenteronline.com/people/v2/people/23232372/households","inactive_reason":null,"marital_status":"https://api.planningcenteronline.com/people/v2/marital_statuses/1764438","message_groups":"https://api.planningcenteronline.com/people/v2/people/23232372/message_groups","messages":"https://api.planningcenteronline.com/people/v2/people/23232372/messages","name_prefix":null,"name_suffix":"https://api.planningcenteronline.com/people/v2/name_suffixes/1764422","notes":"https://api.planningcenteronline.com/people/v2/people/23232372/notes","person_apps":"https://api.planningcenteronline.com/people/v2/people/23232372/person_apps","phone_numbers":"https://api.planningcenteronline.com/people/v2/people/23232372/phone_numbers","school":null,"social_profiles":"https://api.planningcenteronline.com/people/v2/people/23232372/social_profiles","workflow_cards":"https://api.planningcenteronline.com/people/v2/people/23232372/workflow_cards","self":"https://api.planningcenteronline.com/people/v2/people/23232372"}},"included":[],"meta":{"can_include":["addresses","emails","field_data","households","inactive_reason","marital_status","name_prefix","name_suffix","person_apps","phone_numbers","school","social_profiles"],"parent":{"id":"197716","type":"Organization"}}}'}
    headers:
      Content-Type: [application/vnd.api+json; charset=utf-8; charset=utf-8]
      ETag: [W/"e737de15a50c0c99cbe63ecdff9a8170"]
      Status: [200 OK]
      X-PCO-API-Auth-Method: [HTTPBasic]
      X-PCO-API-Request-Rate-Count: ['1']
      X-PCO-API-Request-Rate-Limit: ['100']
      X-PCO-API-Request-Rate-Period: [20 seconds]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.planningcenteronline.com/people/v2/name_suffixes/1764422
  response:
    body: {string: '{"data":{"type":"NameSuffix","id":"1764422","attributes":{"value":"Sr."},"links":{"self":"https://api.planningcenteronline.com/people/v2/name_suffixes/1764422"}},"included":[],"meta":{"parent":{"id":"197716","type":"Organization"}}}'}
    headers:
      Content-Type: [application/vnd.api+json; charset=utf-8; charset=utf-8]
      ETag: [W/"0984fad0a184b7e283971060b4b35f21"]
      Status: [200 OK]
      X-PCO-API-Auth-Method: [HTTPBasic]
      X-PCO-API-Request-Rate-Count: ['2']
      X-PCO-API-Request-Rate-Limit: ['100']
      X-PCO-API-Request-Rate-Period: [20 seconds]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.planningcenteronline.com/people/v2/people?where%5Bid%5D=23232372
  response:
    body: {string: '{"links":{"self":"https://api.planningcenteronline.com/people/v2/people?where[id]=23232372"},"data":[{"type":"Person","id":"23232372","attributes":{"anniversary":"1980-01-01","avatar":"https://people.planningcenteronline.com/static/no_photo_thumbnail_man_gray.svg","birthdate":"1960-10-01","child":false,"created_at":"2017-01-18T13:56:06Z","demographic_avatar_url":"https://people.planningcenteronline.com/static/no_photo_thumbnail_man_gray.svg","first_name":"George","gender":"M","given_name":null,"grade":null,"graduation_year":null,"inactivated_at":null,"last_name":"Washington","medical_notes":null,"membership":"Participant","middle_name":null,"name":"George
        Washington Sr.","nickname":null,"people_permissions":null,"remote_id":null,"school_type":null,"site_administrator":false,"status":"active","updated_at":"2018-02-28T17:50:51Z"},"links":{"self":"https://api.planningcenteronline.com/people/v2/people/23232372"}}],"included":[],"meta":{"total_count":1,"count":1,"can_order_by":["given_name","first_name","nickname","middle_name","last_name","birthdate","anniversary","gender","grade","child","status","school_type","graduation_year","site_administrator","people_permissions","membership","inactivated_at","remote_id","medical_notes","created_at","updated_at"],"can_query_by":["given_name","first_name","nickname","middle_name","last_name","birthdate","anniversary","gender","grade","child","status","school_type","graduation_year","site_administrator","people_permissions","membership","inactivated_at","remote_id","medical_notes","created_at","updated_at","search_name","search_name_or_email","id"],"can_include":["addresses","emails","field_data","households","inactive_reason","marital_status","name_prefix","name_suffix","person_apps","phone_numbers","school","social_profiles"],"can_filter":["created_since","admins","organization_admins"],"parent":{"id":"197716","type":"Organization"}}}'}
    headers:
      Content-Type: [application/vnd.api+json; charset=utf-8; charset=utf-8]
      ETag: [W/"ca04c521d60d9ec3af6835b34d065b63"]
      Status: [200 OK]
      X-PCO-API-Auth-Method: [HTTPBasic]
      X-PCO-API-Request-Rate-Count: ['4']
      X-PCO-API-Request-Rate-Limit: ['100']
      X-PCO-API-Request-Rate-Period: [20 seconds]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.planningcenteronline.com/people/v2/addresses/28330374
  response:
    body: {string: '{"data":{"type":"Address","id":"28330374","attributes":{"city":"Boston","created_at":"2018-02-28T14:19:40Z","location":"Home","primary":false,"state":"MA","street":"123
        Old North Church Rd","updated_at":"2018-02-28T14:19:40Z","zip":"12345"},"links":{"self":"https://api.planningcenteronline.com/people/v2/addresses/28330374"},"relationships":{"person":{"data":{"type":"Person","id":"16555904"}}}},"included":[],"meta":{"parent":{"id":"197716","type":"Organization"}}}'}
    headers:
      Content-Type: [application/vnd.api+json; charset=utf-8; charset=utf-8]
      ETag: [W/"4991880913c7b221660a2730114af31e"]
      Status: [200 OK]
      X-PCO-API-Auth-Method: [HTTPBasic]
      X-PCO-API-Request-Rate-Count: ['8']
      X-PCO-API-Request-Rate-Limit: ['100']
      X-PCO-API-Request-Rate-Period: [20 seconds]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.planningcenteronline.com/people/v2/name_suffixes/1764420
  response:
    body: {string: '{"data":{"type":"NameSuffix","id":"1764420","attributes":{"value":"Jr."},"links":{"self":"https://api.planningcenteronline.com/people/v2/name_suffixes/1764420"}},"included":[],"meta":{"parent":{"id":"197716","type":"Organization"}}}'}
    headers:
      Content-Type: [application/vnd.api+json; charset=utf-8; charset=utf-8]
      ETag: [W/"139cecb0f3248c7af27cb4f23298d494"]
      Status: [200 OK]
      X-PCO-API-Auth-Method: [HTTPBasic]
      X-PCO-API-Request-Rate-Count: ['15']
      X-PCO-API-Request-Rate-Limit: ['100']
      X-PCO-API-Request-Rate-Period: [20 seconds]
    status: {code: 200, message: OK}
version: 1
