interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.planningcenteronline.com/webhooks/v2/available_events
  response:
    body: {string: '{"links":{"self":"https://api.planningcenteronline.com/webhooks/v2/available_events","next":"https://api.planningcenteronline.com/webhooks/v2/available_events?offset=25"},"data":[{"type":"AvailableEvent","id":"0c0f65ec33d48237f347ad3ebc5d6d0a","attributes":{"action":"destroyed","app":"people","name":"people.v2.events.person.destroyed","resource":"person","type":"events","version":"v2"},"links":{}},{"type":"AvailableEvent","id":"0d759aa69bd2163cb7826588467be83c","attributes":{"action":"created","app":"people","name":"people.v2.events.workflow_share.created","resource":"workflow_share","type":"events","version":"v2"},"links":{}},{"type":"AvailableEvent","id":"1353f41e0a6d6c790778e21aeb1b0512","attributes":{"action":"destroyed","app":"people","name":"people.v2.events.workflow_share.destroyed","resource":"workflow_share","type":"events","version":"v2"},"links":{}},{"type":"A[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.planningcenteronline.com/webhooks/v2/available_events?offset=25
  response:
    body: {string: '{"links":{"self":"https://api.planningcenteronline.com/webhooks/v2/available_events?offset=25","prev":"https://api.planningcenteronline.com/webhooks/v2/available_events?offset=0"},"data":[{"type":"AvailableEvent","id":"d9672fe63bac5fe26edab8934b2e136b","attributes":{"action":"destroyed","app":"people","name":"people.v2.events.workflow_card_activity.destroyed","resource":"workflow_card_activity","type":"events","version":"v2"},"links":{}},{"type":"AvailableEvent","id":"e31f9be3eb4d69bf4660d638558f311f","attributes":{"action":"destroyed","app":"people","name":"people.v2.events.email.destroyed","resource":"email","type":"events","version":"v2"},"links":{}},{"type":"AvailableEvent","id":"f3ae7d6f991d39c428a71e486fa48ba9","attributes":{"action":"destroyed","app":"people","name":"people.v2.events.workflow_step.destroyed","resource":"workflow_step","type":"events","version":"v2"},"links":{}}],"included":[],"meta":{"total_count":28,"count":3,"prev":{"offset":0},"parent":{"id":"263468","type":"Organization"}}}'}
    headers:
      Content-Type: [application/vnd.api+json; charset=utf-8]
      ETag: [W/"0dd41153b23cfae5c903c5114545cadc"]
      X-PCO-API-Auth-Method: [HTTPBasic]
      X-PCO-API-Request-Rate-Count: ['2']
      X-PCO-API-Request-Rate-Limit: ['100']
      X-PCO-API-Request-Rate-Period: [20 seconds]
      X-Pco-Api-Processed-As-Version: ['2018-08-01']
    status: {code: 200, message: OK}
version: 1
