interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.planningcenteronline.com/giving/v2/donations
  response:
    body: {string: '{"links":{"self":"https://api.planningcenteronline.com/giving/v2/donations"},"data":[{"type":"Donation","id":"19575091","attributes":{"amount_cents":50000,"amount_currency":"USD","created_at":"2018-11-25T20:32:02Z","fee_cents":0,"fee_currency":"USD","payment_brand":null,"payment_check_dated_at":null,"payment_check_number":null,"payment_last4":null,"payment_method":"cash","payment_method_sub":null,"payment_status":"succeeded","received_at":"2018-11-25T05:00:00Z","refundable":true,"refunded":false,"updated_at":"2018-11-25T20:32:25Z"},"relationships":{"batch":{"data":{"type":"Batch","id":"1"}},"person":{"data":{"type":"Person","id":"45029164"}},"payment_source":{"data":{"type":"PaymentSource","id":"planning_center"}},"labels":{"data":[]}},"links":{"self":"https://api.planningcenteronline.com/giving/v2/donations/19575091"}}],"included":[],"meta":{"total_count":1,"count":1,"can_order_by":["created_at","updated_at","received_at"],"can_query_by":["payment_method","received_at","created_at","updated_at"],"can_include":["designations","labels"],"parent":{"id":"263468","type":"Organization"}}}'}
    headers:
      Content-Type: [application/vnd.api+json; charset=utf-8]
      ETag: [W/"4c4b6e7f38e6a5f68a715ef0c79cbf57"]
      X-PCO-API-Auth-Method: [HTTPBasic]
      X-PCO-API-Request-Rate-Count: ['1']
      X-PCO-API-Request-Rate-Limit: ['100']
      X-PCO-API-Request-Rate-Period: [20 seconds]
      X-Pco-Api-Processed-As-Version: ['2018-08-01']
    status: {code: 200, message: OK}
version: 1
