interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.planningcenteronline.com/check_ins/v2/passes
  response:
    body: {string: '{"links":{"self":"https://api.planningcenteronline.com/check_ins/v2/passes","next":"https://api.planningcenteronline.com/check_ins/v2/passes?offset=25"},"data":[{"type":"Pass","id":"383330","attributes":{"code":"500066","created_at":"2017-01-19T15:47:41Z","kind":"barcode","updated_at":"2017-01-19T15:47:41Z"},"links":{"self":"https://api.planningcenteronline.com/check_ins/v2/passes/383330"}},{"type":"Pass","id":"383331","attributes":{"code":"501943","created_at":"2017-01-19T15:47:41Z","kind":"barcode","updated_at":"2017-01-19T15:47:41Z"},"links":{"self":"https://api.planningcenteronline.com/check_ins/v2/passes/383331"}},{"type":"Pass","id":"383332","attributes":{"code":"121","created_at":"2017-01-19T15:47:43Z","kind":"barcode","updated_at":"2017-01-19T15:47:43Z"},"links":{"sel[...]
