interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.planningcenteronline.com/people/v2/people/23232378?include=addresses
  response:
    body: {string: '{"data":{"type":"Person","id":"23232378","attributes":{"anniversary":null,"avatar":"https://people.planningcenteronline.com/static/no_photo_thumbnail_woman_gray.svg","birthdate":"1960-01-01","child":false,"created_at":"2017-01-18T13:56:54Z","demographic_avatar_url":"https://people.planningcenteronline.com/static/no_photo_thumbnail_woman_gray.svg","first_name":"Martha","gender":"F","given_name":null,"grade":null,"graduation_year":null,"inactivated_at":null,"last_name":"Washington","medical_notes":null,"membership":"Participant","middle_name":null,"name":"Martha
        Washington","nickname":null,"people_permissions":null,"remote_id":null,"school_type":null,"site_administrator":false,"status":"active","updated_at":"2018-03-02T02:07:20Z"},"links":{"addresses":"https://api.planningcenteronline.com/people/v2/people/23232378/addresses","apps":"https://api.planningcenteronline.com/people/v2/people/23232378/apps","connected_people":"https://api.planningcenteronline.com/people/v2/people/23232378/connected_people","emails":"https://api.planningcenteronline.com/people/v2/people/23232378/emails","field_data":"https://api.planningcenteronline.com/people/v2/people/23232378/field_data","household_memberships":"https://api.planningcenteronline.com/people/v2/people/23232378/household_memberships","households":"https://api.planningcenteronline.com/people/v2/people/23232378/households","inactive_reason":null,"marital_status":"https://api.planningcenteronline.com/people/v2/marital_statuses/1764438","message_groups":"https://api.planningcenteronline.com/people/v2/people/23232378/message_groups","messages":"https://api.planningcenteronline.com/people/v2/people/23232378/messages","name_prefix":null,"name_suffix":null,"notes":"https://api.planningcenteronline.com/people/v2/people/23232378/notes","person_apps":"https://api.planningcenteronline.com/people/v2/people/23232378/person_apps","phone_numbers":"https://api.planningcenteronline.com/people/v2/people/23232378/phone_numbers","school":null,"social_profiles":"https://api.planningcenteronline.com/people/v2/people/23232378/social_profiles","workflow_cards":"https://api.planningcenteronline.com/people/v2/people/23232378/workflow_cards","self":"https://api.planningcenteronline.com/people/v2/people/23232378"},"relationships":{"addresses":{"links":{"related":"https://api.planningcenteronline.com/people/v2/people/23232378/addresses"},"data":[{"type":"Address","id":"28400082"},{"type":"Address","id":"28400249"}]}}},"included":[{"type":"Address","id":"28400082","attributes":{"city":"Mount
        Vernon","created_at":"2018-03-02T01:47:20Z","location":"Home","primary":true,"state":"Va","street":"123
        Mount Vernon Rd","updated_at":"2018-03-02T01:47:20Z","zip":"11111"},"links":{"self":"https://api.planningcenteronline.com/people/v2/addresses/28400082"},"relationships":{"person":{"data":{"type":"Person","id":"23232378"}}}},{"type":"Address","id":"28400249","attributes":{"city":"Carlsbad","created_at":"2018-03-02T02:07:20Z","location":"Work","primary":false,"state":"CA","street":"1234
        Pico Rd","updated_at":"2018-03-02T02:07:20Z","zip":"12345"},"links":{"self":"https://api.planningcenteronline.com/people/v2/addresses/28400249"},"relationships":{"person":{"data":{"type":"Person","id":"23232378"}}}}],"meta":{"can_include":["addresses","emails","field_data","households","inactive_reason","marital_status","name_prefix","name_suffix","person_apps","phone_numbers","school","social_profiles"],"parent":{"id":"197716","type":"Organization"}}}'}
    headers:
      Content-Type: [application/vnd.api+json; charset=utf-8; charset=utf-8]
      ETag: [W/"4055b3b241cb6fe813f897c72e98b922"]
      Status: [200 OK]
      X-PCO-API-Auth-Method: [HTTPBasic]
      X-PCO-API-Request-Rate-Count: ['1']
      X-PCO-API-Request-Rate-Limit: ['100']
      X-PCO-API-Request-Rate-Period: [20 seconds]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.planningcenteronline.com/people/v2/people/23232378/addresses
  response:
    body: {string: '{"links":{"self":"https://api.planningcenteronline.com/people/v2/people/23232378/addresses"},"data":[{"type":"Address","id":"28400082","attributes":{"city":"Mount
        Vernon","created_at":"2018-03-02T01:47:20Z","location":"Home","primary":true,"state":"Va","street":"123
        Mount Vernon Rd","updated_at":"2018-03-02T01:47:20Z","zip":"11111"},"links":{"self":"https://api.planningcenteronline.com/people/v2/addresses/28400082"},"relationships":{"person":{"data":{"type":"Person","id":"23232378"}}}},{"type":"Address","id":"28400249","attributes":{"city":"Carlsbad","created_at":"2018-03-02T02:07:20Z","location":"Work","primary":false,"state":"CA","street":"1234
        Pico Rd","updated_at":"2018-03-02T02:07:20Z","zip":"12345"},"links":{"self":"https://api.planningcenteronline.com/people/v2/addresses/28400249"},"relationships":{"person":{"data":{"type":"Person","id":"23232378"}}}}],"included":[],"meta":{"total_count":2,"count":2,"can_order_by":["city","state","zip","street","location","primary","created_at","updated_at"],"can_query_by":["city","state","zip","street","location","primary"],"parent":{"id":"23232378","type":"Person"}}}'}
    headers:
      Content-Type: [application/vnd.api+json; charset=utf-8; charset=utf-8]
      ETag: [W/"36642111f17a30a8f7cb71273b6a3bde"]
      Status: [200 OK]
      X-PCO-API-Auth-Method: [HTTPBasic]
      X-PCO-API-Request-Rate-Count: ['2']
      X-PCO-API-Request-Rate-Limit: ['100']
      X-PCO-API-Request-Rate-Period: [20 seconds]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.planningcenteronline.com/people/v2/addresses/28400249
  response:
    body: {string: '{"data":{"type":"Address","id":"28400249","attributes":{"city":"Carlsbad","created_at":"2018-03-02T02:07:20Z","location":"Work","primary":false,"state":"CA","street":"1234
        Pico Rd","updated_at":"2018-03-02T02:07:20Z","zip":"12345"},"links":{"self":"https://api.planningcenteronline.com/people/v2/addresses/28400249"},"relationships":{"person":{"data":{"type":"Person","id":"23232378"}}}},"included":[],"meta":{"parent":{"id":"197716","type":"Organization"}}}'}
    headers:
      Content-Type: [application/vnd.api+json; charset=utf-8; charset=utf-8]
      ETag: [W/"d6862972d0afa854039489d3943d156b"]
      Status: [200 OK]
      X-PCO-API-Auth-Method: [HTTPBasic]
      X-PCO-API-Request-Rate-Count: ['4']
      X-PCO-API-Request-Rate-Limit: ['100']
      X-PCO-API-Request-Rate-Period: [20 seconds]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.planningcenteronline.com/people/v2/addresses/28400249
  response:
    body: {string: '{"data":{"type":"Address","id":"28400249","attributes":{"city":"Carlsbad","created_at":"2018-03-02T02:07:20Z","location":"Work","primary":false,"state":"CA","street":"1234
        Pico Rd","updated_at":"2018-03-02T02:07:20Z","zip":"12345"},"links":{"self":"https://api.planningcenteronline.com/people/v2/addresses/28400249"},"relationships":{"person":{"data":{"type":"Person","id":"23232378"}}}},"included":[],"meta":{"parent":{"id":"197716","type":"Organization"}}}'}
    headers:
      Content-Type: [application/vnd.api+json; charset=utf-8; charset=utf-8]
      ETag: [W/"d6862972d0afa854039489d3943d156b"]
      Status: [200 OK]
      X-PCO-API-Auth-Method: [HTTPBasic]
      X-PCO-API-Request-Rate-Count: ['5']
      X-PCO-API-Request-Rate-Limit: ['100']
      X-PCO-API-Request-Rate-Period: [20 seconds]
    status: {code: 200, message: OK}
version: 1
