interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.planningcenteronline.com/giving/v2/people/45029164
  response:
    body: {string: '{"data":{"type":"Person","id":"45029164","attributes":{"addresses":[],"donor_number":null,"email_addresses":[{"address":"paul.revere@mailinator.com","location":"Home","primary":true}],"first_name":"Paul","last_name":"Revere","permissions":null,"phone_numbers":[]},"links":{"batch_groups":null,"batches":null,"donations":"https://api.planningcenteronline.com/giving/v2/people/45029164/donations","payment_methods":"https://api.planningcenteronline.com/giving/v2/people/45029164/payment_methods","recurring_donations":"https://api.planningcenteronline.com/giving/v2/people/45029164/recurring_donations","self":"https://api.planningcenteronline.com/giving/v2/people/45029164"}},"included":[],"meta":{"parent":{"id":"263468","type":"Organization"}}}'}
    headers:
      Content-Type: [application/vnd.api+json; charset=utf-8]
      ETag: [W/"551dfbd66ef5ffc9cfb31cae8bbc98ef"]
      X-PCO-API-Auth-Method: [HTTPBasic]
      X-PCO-API-Request-Rate-Count: ['1']
      X-PCO-API-Request-Rate-Limit: ['100']
      X-PCO-API-Request-Rate-Period: [20 seconds]
      X-Pco-Api-Processed-As-Version: ['2018-08-01']
    status: {code: 200, message: OK}
version: 1
