interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.planningcenteronline.com/check_ins/v2/events
  response:
    body: {string: '{"links":{"self":"https://api.planningcenteronline.com/check_ins/v2/events"},"data":[{"type":"Event","id":"200896","attributes":{"archived_at":null,"created_at":"2018-11-25T20:20:04Z","enable_services_integration":false,"frequency":"Weekly","integration_key":null,"name":"Weekly
        Worship Services","updated_at":"2018-11-25T20:20:04Z"},"links":{"self":"https://api.planningcenteronline.com/check_ins/v2/events/200896"}}],"included":[],"meta":{"total_count":1,"count":1,"can_order_by":["name","created_at"],"can_query_by":["registration_event_id"],"can_include":["event_periods","attendance_types"],"can_filter":["archived","not_archived"],"parent":{"id":"263468","type":"Organization"}}}'}
    headers:
      Content-Type: [application/vnd.api+json; charset=utf-8]
      ETag: [W/"fcdb714467a22fa6d836d17a87c28866"]
      X-PCO-API-Auth-Method: [HTTPBasic]
      X-PCO-API-Request-Rate-Count: ['1']
      X-PCO-API-Request-Rate-Limit: ['100']
      X-PCO-API-Request-Rate-Period: [20 seconds]
      X-Pco-Api-Processed-As-Version: ['2018-08-01']
    status: {code: 200, message: OK}
version: 1
