interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.planningcenteronline.com/people/v2/people/34762810
  response:
    body: {string: '{"data":{"type":"Person","id":"34762810","attributes":{"anniversary":null,"avatar":"https://people.planningcenteronline.com/static/no_photo_thumbnail_gray.svg","birthdate":null,"child":false,"created_at":"2018-02-20T20:25:28Z","demographic_avatar_url":"https://people.planningcenteronline.com/static/no_photo_thumbnail_gray.svg","first_name":"Pico","gender":null,"given_name":null,"grade":null,"graduation_year":null,"inactivated_at":null,"last_name":"Robot","medical_notes":null,"membership":null,"middle_name":null,"name":"Pico
        Robot","nickname":null,"people_permissions":null,"remote_id":null,"school_type":null,"site_administrator":false,"status":"active","updated_at":"2018-02-20T20:25:28Z"},"links":{"addresses":"https://api.planningcenteronline.com/people/v2/people/34762810/addresses","apps":"https://api.planningcenteronline.com/people/v2/people/34762810/apps","connected_people":"https://api.planningcenteronline.com/people/v2/people/34762810/connected_people","emails":"https://api.planningcenteronline.com/people/v2/people/34762810/emails","field_data":"https://api.planningcenteronline.com/people/v2/people/34762810/field_data","household_memberships":"https://api.planningcenteronline.com/people/v2/people/34762810/household_memberships","households":"https://api.planningcenteronline.com/people/v2/people/34762810/households","inactive_reason":null,"marital_status":null,"message_groups":"https://api.planningcenteronline.com/people/v2/people/34762810/message_groups","messages":"https://api.planningcenteronline.com/people/v2/people/34762810/messages","name_prefix":null,"name_suffix":null,"person_apps":"https://api.planningcenteronline.com/people/v2/people/34762810/person_apps","phone_numbers":"https://api.planningcenteronline.com/people/v2/people/34762810/phone_numbers","school":null,"social_profiles":"https://api.planningcenteronline.com/people/v2/people/34762810/social_profiles","workflow_cards":"https://api.planningcenteronline.com/people/v2/people/34762810/workflow_cards","self":"https://api.planningcenteronline.com/people/v2/people/34762810"}},"included":[],"meta":{"can_include":["addresses","emails","field_data","households","inactive_reason","marital_status","name_prefix","name_suffix","person_apps","phone_numbers","school","social_profiles"],"parent":{"id":"197716","type":"Organization"}}}'}
    headers:
      Content-Type: [application/vnd.api+json; charset=utf-8; charset=utf-8]
      ETag: [W/"cc9312cdaaf1ccb8dd63271e65ed8ad4"]
      Status: [200 OK]
      X-PCO-API-Auth-Method: [HTTPBasic]
      X-PCO-API-Request-Rate-Count: ['1']
      X-PCO-API-Request-Rate-Limit: ['100']
      X-PCO-API-Request-Rate-Period: [20 seconds]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.planningcenteronline.com/people/v2/people/34762810
  response:
    body: {string: '{"errors":[{"status":"404","title":"Not Found","detail":"The resource
        you requested could not be found"}]}'}
    headers:
      Content-Type: [application/vnd.api+json; charset=utf-8; charset=utf-8]
      Status: [404 Not Found]
      X-PCO-API-Auth-Method: [HTTPBasic]
      X-PCO-API-Request-Rate-Count: ['3']
      X-PCO-API-Request-Rate-Limit: ['100']
      X-PCO-API-Request-Rate-Period: [20 seconds]
    status: {code: 404, message: Not Found}
version: 1
