interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.planningcenteronline.com/services/v2/service_types
  response:
    body: {string: '{"links":{"self":"https://api.planningcenteronline.com/services/v2/service_types"},"data":[{"type":"ServiceType","id":"857722","attributes":{"archived_at":null,"attachment_types_enabled":false,"background_check_permissions":"default","comment_permissions":"Scheduled
        Viewer","created_at":"2018-09-25T10:46:13Z","deleted_at":null,"frequency":"Weekly","last_plan_from":"organization","name":"Test
        Service Type","permissions":"Administrator","sequence":0,"updated_at":"2018-09-25T10:46:13Z"},"relationships":{"parent":{"data":null}},"links":{"self":"https://api.planningcenteronline.com/services/v2/service_types/857722"}}],"included":[],"meta":{"total_count":1,"count":1,"can_order_by":["sequence","name"],"can_query_by":["parent_id"],"can_include":["time_preference_options"],"parent":{"id":"263468","type":"Organization"}}}'}
    headers:
      Content-Type: [application/vnd.api+json; charset=utf-8]
      ETag: [W/"a349b76dcf32dd5cb92b7d051cb5b28f"]
      X-PCO-API-Auth-Method: [HTTPBasic]
      X-PCO-API-Request-Rate-Count: ['1']
      X-PCO-API-Request-Rate-Limit: ['100']
      X-PCO-API-Request-Rate-Period: [20 seconds]
      X-Pco-Api-Processed-As-Version: ['2018-08-01']
    status: {code: 200, message: OK}
version: 1
