interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.planningcenteronline.com/people/v2/households/2739849
  response:
    body: {string: '{"data":{"type":"Household","id":"2739849","attributes":{"created_at":"2017-01-18T13:56:54Z","member_count":3,"name":"Washington
        Household","primary_contact_id":"23232372","primary_contact_name":"George
        Washington Sr.","updated_at":"2017-01-18T13:56:54Z"},"links":{"household_memberships":"https://api.planningcenteronline.com/people/v2/households/2739849/household_memberships","people":"https://api.planningcenteronline.com/people/v2/households/2739849/people","self":"https://api.planningcenteronline.com/people/v2/households/2739849"}},"included":[],"meta":{"can_include":["people"],"parent":{"id":"197716","type":"Organization"}}}'}
    headers:
      Content-Type: [application/vnd.api+json; charset=utf-8; charset=utf-8]
      ETag: [W/"555d344b4b24f63f44ec8ac1f849a76d"]
      Status: [200 OK]
      X-PCO-API-Auth-Method: [HTTPBasic]
      X-PCO-API-Request-Rate-Count: ['1']
      X-PCO-API-Request-Rate-Limit: ['100']
      X-PCO-API-Request-Rate-Period: [20 seconds]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.planningcenteronline.com/people/v2/households/2739849/people
  response:
    body: {string: '{"links":{"self":"https://api.planningcenteronline.com/people/v2/households/2739849/people"},"data":[{"type":"Person","id":"23232372","attributes":{"anniversary":"1980-01-01","avatar":"https://people.planningcenteronline.com/static/no_photo_thumbnail_man_gray.svg","birthdate":"1960-10-01","child":false,"created_at":"2017-01-18T13:56:06Z","demographic_avatar_url":"https://people.planningcenteronline.com/static/no_photo_thumbnail_man_gray.svg","first_name":"George","gender":"M","given_name":null,"grade":null,"graduation_year":null,"inactivated_at":null,"last_name":"Washington","medical_notes":null,"membership":"Participant","middle_name":null,"name":"George
        Washington Sr.","nickname":null,"people_permissions":null,"remote_id":null,"school_type":null,"site_administrator":false,"status":"active","updated_at":"2018-02-28T17:50:51Z"},"links":{"self":"https://api.planningcenteronline.com/people/v2/people/23232372"}},{"type":"Person","id":"23232378","attributes":{"anniversary":null,"avatar":"https://people.planningcenteronline.com/static/no_photo_thumbnail_woman_gray.svg","birthdate":"1960-01-01","child":false,"created_at":"2017-01-18T13:56:54Z","demographic_avatar_url":"https://people.planningcenteronline.com/static/no_photo_thumbnail_woman_gray.svg","first_name":"M[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.planningcenteronline.com/people/v2/households?where%5Bprimary_contact_name%5D=George+Washington+Sr.
  response:
    body: {string: '{"links":{"self":"https://api.planningcenteronline.com/people/v2/households?where[primary_contact_name]=George+Washington+Sr."},"data":[{"type":"Household","id":"2739849","attributes":{"created_at":"2017-01-18T13:56:54Z","member_count":3,"name":"Washington
        Household","primary_contact_id":"23232372","primary_contact_name":"George
        Washington Sr.","updated_at":"2017-01-18T13:56:54Z"},"links":{"self":"https://api.planningcenteronline.com/people/v2/households/2739849"}}],"included":[],"meta":{"total_count":1,"count":1,"can_order_by":["name","member_count","primary_contact_name","created_at","updated_at"],"can_query_by":["name","member_count","primary_contact_name","created_at","updated_at"],"can_include":["people"],"parent":{"id":"197716","type":"Organization"}}}'}
    headers:
      Content-Type: [application/vnd.api+json; charset=utf-8; charset=utf-8]
      ETag: [W/"2c79d6e70d611d055d58098c50b1ac64"]
      Status: [200 OK]
      X-PCO-API-Auth-Method: [HTTPBasic]
      X-PCO-API-Request-Rate-Count: ['3']
      X-PCO-API-Request-Rate-Limit: ['100']
      X-PCO-API-Request-Rate-Period: [20 seconds]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.planningcenteronline.com/people/v2/households/2739849?include=people
  response:
    body: {string: '{"data":{"type":"Household","id":"2739849","attributes":{"created_at":"2017-01-18T13:56:54Z","member_count":3,"name":"Washington
        Household","primary_contact_id":"23232372","primary_contact_name":"George
        Washington Sr.","updated_at":"2017-01-18T13:56:54Z"},"links":{"household_memberships":"https://api.planningcenteronline.com/people/v2/households/2739849/household_memberships","people":"https://api.planningcenteronline.com/people/v2/households/2739849/people","self":"https://api.planningcenteronline.com/people/v2/households/2739849"},"relationships":{"people":{"links":{"related":"https://api.planningcenteronline.com/people/v2/households/2739849/people"},"data":[{"type":"Person","id":"23232378"},{"type":"Person","id":"23232372"},{"type":"Person","id":"23232436"}]}}},"included":[{"type":"Person","id":"23232378","attributes":{"anniversary":null,"avatar":"https://people.planningcenteronline.com/static/no_photo_thumbnail_woman_gray.svg","birthdate":"1960-01-01","child":false,"created_at":"2017-01-18T13:56:54Z","demographic_avatar_url":"https://people.planningcenteronline.com[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.planningcenteronline.com/people/v2/people/23232378
  response:
    body: {string: '{"data":{"type":"Person","id":"23232378","attributes":{"anniversary":null,"avatar":"https://people.planningcenteronline.com/static/no_photo_thumbnail_woman_gray.svg","birthdate":"1960-01-01","child":false,"created_at":"2017-01-18T13:56:54Z","demographic_avatar_url":"https://people.planningcenteronline.com/static/no_photo_thumbnail_woman_gray.svg","first_name":"Martha","gender":"F","given_name":null,"grade":null,"graduation_year":null,"inactivated_at":null,"last_name":"Washington","medical_notes":null,"membership":"Participant","middle_name":null,"name":"Martha
        Washington","nickname":null,"people_permissions":null,"remote_id":null,"school_type":null,"site_administrator":false,"status":"active","updated_at":"2017-01-21T20:41:28Z"},"links":{"addresses":"https://api.planningcenteronline.com/people/v2/people/23232378/addresses","apps":"https://api.planningcenteronline.com/people/v2/people/23232378/apps","connected_people":"https://api.planningcenteronline.com/people/v2/people/23232378/connected_people","emails":"https://api.planningcenteronline.com/people/v2/people/23232378/emails","field_data":"https://api.planningcenteronline.com/people/v2/people/23232378/field_data","household_memberships":"https://api.planningcenteronline.com/people/v2/people/23232378/household_memberships","households":"https://api.planningcenteronline.com/people/v2/people/23232378/households","inactive_reason":null,"marital_status":"https://api.planningcenteronline.com/people/v2/marital_statuses/1764438","message_groups":"https://api.planningcenteronline.com/people/v2/people/23232378/message_groups","messages":"https://api.planningcenteronline.com/people/v2/people/23232378/messages","name_prefix":null,"name_suffix":null,"notes":"https://api.planningcenteronline.com/people/v2/people/23232378/notes","person_apps":"https://api.planningcenteronline.com/people/v2/people/23232378/person_apps","phone_numbers":"https://api.planningcenteronline.com/people/v2/people/23232378/phone_numbers","school":null,"social_profiles":"https://api.planningcenteronline.com/people/v2/people/23232378/social_profiles","workflow_cards":"https://api.planningcenteronline.com/people/v2/people/23232378/workflow_cards","self":"https://api.planningcenteronline.com/people/v2/people/23232378"}},"included":[],"meta":{"can_include":["addresses","emails","field_data","households","inactive_reason","marital_status","name_prefix","name_suffix","person_apps","phone_numbers","school","social_profiles"],"parent":{"id":"197716","type":"Organization"}}}'}
    headers:
      Content-Type: [application/vnd.api+json; charset=utf-8; charset=utf-8]
      ETag: [W/"c8265a2800de590bafcc75f6c993c583"]
      Status: [200 OK]
      X-PCO-API-Auth-Method: [HTTPBasic]
      X-PCO-API-Request-Rate-Count: ['6']
      X-PCO-API-Request-Rate-Limit: ['100']
      X-PCO-API-Request-Rate-Period: [20 seconds]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.planningcenteronline.com/people/v2/people/23232372/social_profiles
  response:
    body: {string: '{"links":{"self":"https://api.planningcenteronline.com/people/v2/people/23232372/social_profiles"},"data":[],"included":[],"meta":{"total_count":0,"count":0,"can_order_by":["site","url","verified","created_at","updated_at"],"can_query_by":["site","url","verified","created_at","updated_at"],"can_include":["person"],"parent":{"id":"23232372","type":"Person"}}}'}
    headers:
      Content-Type: [application/vnd.api+json; charset=utf-8; charset=utf-8]
      ETag: [W/"9641662e5057c677b841f088403884ab"]
      Status: [200 OK]
      X-PCO-API-Auth-Method: [HTTPBasic]
      X-PCO-API-Request-Rate-Count: ['10']
      X-PCO-API-Request-Rate-Limit: ['100']
      X-PCO-API-Request-Rate-Period: [20 seconds]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.planningcenteronline.com/people/v2/people/23232372?include=social_profiles
  response:
    body: {string: '{"data":{"type":"Person","id":"23232372","attributes":{"anniversary":"1980-01-01","avatar":"https://people.planningcenteronline.com/static/no_photo_thumbnail_man_gray.svg","birthdate":"1960-10-01","child":false,"created_at":"2017-01-18T13:56:06Z","demographic_avatar_url":"https://people.planningcenteronline.com/stat[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.planningcenteronline.com/people/v2/households/2739849
  response:
    body: {string: '{"data":{"type":"Household","id":"2739849","attributes":{"created_at":"2017-01-18T13:56:54Z","member_count":3,"name":"Washington
        Household","primary_contact_id":"23232372","primary_contact_name":"George
        Washington Sr.","updated_at":"2017-01-18T13:56:54Z"},"links":{"household_memberships":"https://api.planningcenteronline.com/people/v2/households/2739849/household_memberships","people":"https://api.planningcenteronline.com/people/v2/households/2739849/people","self":"https://api.planningcenteronline.com/people/v2/households/2739849"}},"included":[],"meta":{"can_include":["people"],"parent":{"id":"197716","type":"Organization"}}}'}
    headers:
      Content-Type: [application/vnd.api+json; charset=utf-8; charset=utf-8]
      ETag: [W/"555d344b4b24f63f44ec8ac1f849a76d"]
      Status: [200 OK]
      X-PCO-API-Auth-Method: [HTTPBasic]
      X-PCO-API-Request-Rate-Count: ['12']
      X-PCO-API-Request-Rate-Limit: ['100']
      X-PCO-API-Request-Rate-Period: [20 seconds]
    status: {code: 200, message: OK}
version: 1
