[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"

[dev-packages]
pylint = "*"
vcrpy = "*"
vcrpy-unittest = "*"
docopt = "*"
"jinja2" = "*"
tox = "*"
twine = "*"
versionbump = "*"
recommonmark = "*"
sphinx-rtd-theme = "*"
sphinx = "*"
