interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.planningcenteronline.com/people/v2/people/45029164
  response:
    body:
      string: '{"data":{"type":"Person","id":"45029164","attributes":{"accounting_administrator":false,"anniversary":null,"avatar":"https://people.planningcenteronline.com/static/no_photo_thumbnail_gray.png","birthdate":null,"child":false,"created_at":"2018-11-25T20:31:31Z","demographic_avatar_url":"https://people.planningcenteronline.com/static/no_photo_thumbnail_gray.png","first_name":"Paul","gender":null,"given_name":null,"grade":null,"graduation_year":null,"inactivated_at":null,"last_name":"Revere","medical_notes":null,"membership":null,"middle_name":null,"name":"Paul
        Revere","nickname":null,"passed_background_check":false,"people_permissions":null,"remote_id":null,"school_type":null,"site_administrator":false,"status":"active","updated_at":"2018-11-25T20:31:31Z"},"relationships":{"primary_campus":{"data":null}},"links":{"":"https://api.planningcenteronline.com/people/v2/people/45029164/","addresses":"https://api.planningcenteronline.com/people/v2/people/45029164/addresses","apps":"https://api.planningcenteronline.com/people/v2/people/45029164/apps","connected_people":"https://api.planningcenteronline.com/people/v2/people/45029164/connected_people","emails":"https://api.planningcenteronline.com/people/v2/people/45029164/emails","field_data":"https://api.planningcenteronline.com/people/v2/people/45029164/field_data","household_memberships":"https://api.planningcenteronline.com/people/v2/people/45029164/household_memberships","households":"https://api.planningcenteronline.com/people/v2/people/45029164/households","inactive_reason":null,"marital_status":null,"message_groups":"https://api.planningcenteronline.com/people/v2/people/45029164/message_groups","messages":"https://api.planningcenteronline.com/people/v2/people/45029164/messages","name_prefix":null,"name_suffix":null,"notes":"https://api.planningcenteronline.com/people/v2/people/45029164/notes","organization":"https://api.planningcenteronline.com/people/v2/people/45029164/organization","person_apps":"https://api.planningcenteronline.com/people/v2/people/45029164/person_apps","phone_numbers":"https://api.planningcenteronline.com/people/v2/people/45029164/phone_numbers","platform_notifications":"https://api.planningcenteronline.com/people/v2/people/45029164/platform_notifications","primary_campus":null,"school":null,"social_profiles":"https://api.planningcenteronline.com/people/v2/people/45029164/social_profiles","workflow_cards":"https://api.planningcenteronline.com/people/v2/people/45029164/workflow_cards","self":"https://api.planningcenteronline.com/people/v2/people/45029164"}},"included":[],"meta":{"can_include":["addresses","emails","field_data","households","inactive_reason","marital_status","name_prefix","name_suffix","organization","person_apps","phone_numbers","platform_notifications","primary_campus","school","social_profiles"],"parent":{"id":"263468","type":"Organization"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      ETag:
      - W/"a1d4be2bfa39d9c8000228bcb9b50726"
      X-PCO-API-Auth-Method:
      - HTTPBasic
      X-PCO-API-Processed-As-Version:
      - '2018-08-01'
      X-PCO-API-Processor:
      - ENG_2.2.2
      X-PCO-API-Request-Rate-Count:
      - '1'
      X-PCO-API-Request-Rate-Limit:
      - '100'
      X-PCO-API-Request-Rate-Period:
      - '20'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.planningcenteronline.com/people/v2/people/45029164?include=emails%2Corganization
  response:
    body:
      string: '{"data":{"type":"Person","id":"45029164","attributes":{"accounting_administrator":false,"anniversary":null,"avatar":"https://people.planningcenteronline.com/static/no_photo_thumbnail_gray.png","birthdate":null,"child":false,"created_at":"2018-11-25T20:31:31Z","demographic_avatar_url":"https://people.planningcenteronline.com/static/no_photo_thumbnail_gray.png","first_name":"Paul","gender":null,"given_name":null,"grade":null,"graduation_year":null,"inactivated_at":null,"last_name":"Revere","medical_notes":null,"membership":null,"middle_name":null,"name":"Paul
        Revere","nickname":null,"passed_background_check":false,"people_permissions":null,"remote_id":null,"school_type":null,"site_administrator":false,"status":"active","updated_at":"2018-11-25T20:31:31Z"},"relationships":{"primary_campus":{"data":null},"emails":{"links":{"related":"https://api.planningcenteronline.com/people/v2/people/45029164/emails"},"data":[{"type":"Email","id":"29871166"}]},"organization":{"links":{"related":"https://api.planningcenteronline.com/people/v2/people/45029164/organization"},"data":{"type":"Organization","id":"263468"}}},"links":{"":"https://api.planningcenteronline.com/people/v2/people/45029164/","addresses":"https://api.planningcenteronline.com/people/v2/people/45029164/addresses","apps":"https://api.planningcenteronline.com/people/v2/peo[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.planningcenteronline.com/people/v2/people?where%5Bfirst_name%5D=paul
  response:
    body:
      string: '{"links":{"self":"https://api.planningcenteronline.com/people/v2/people?where[first_name]=paul"},"data":[{"type":"Person","id":"45029164","attributes":{"accounting_administrator":false,"anniversary":null,"avatar":"https://people.planningcenteronline.com/static/no_photo_thumbnail_gray.png","birthdate":null,"child":false,"created_at":"2018-11-25T20:31:31Z","demographic_avatar_url":"https://people.planningcenteronline.com/static/no_photo_thumbnail_gray.png","first_name":"Paul","gender":null,"given_name":null,"grade":null,"graduation_year":null,"inactivated_at":null,"last_name":"Revere","medical_notes":null,"membership":null,"middle_name":null,"name":"Paul
        Revere","nickname":null,"passed_background_check":false,"people_permissions":null,"remote_id":null,"school_type":null,"site_administrator":false,"status":"active","updated_at":"2018-11-25T20:31:31Z"},"relationships":{"primary_campus":{"data":null}},"links":{"self":"https://api.planningcenteronline.com/people/v2/people/45029164"}}],"included":[],"meta":{"total_count":1,"count":1,"can_order_by":["given_name","first_name","nickname","middle_name","last_name","birthdate","anniversary","gender","grade","child","school_type","graduation_year","site_administrator","accounting_administrator","people_permissions","membership","inactivated_at","status","medical_notes","created_at","updated_at","remote_id"],"can_query_by":["given_name","first_name","nickname","middle_name","last_name","birthdate","anniversary","gender","grade","child","school_type","graduation_year","site_administrator","accounting_administrator","people_permissions","membership","inactivated_at","status","medical_notes","created_at","updated_at","search_name","search_name_or_email","search_name_or_email_or_phone_number","remote_id","id"],"can_include":["addresses","emails","field_data","households","inactive_reason","marital_status","name_prefix","name_suffix","organization","person_apps","phone_numbers","platform_notifications","primary_campus","school","social_profiles"],"can_filter":["created_since","admins","organization_admins"],"parent":{"id":"263468","type":"Organization"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      ETag:
      - W/"0f70d17bf615f35ec3164dcf186a6491"
      X-PCO-API-Auth-Method:
      - HTTPBasic
      X-PCO-API-Processed-As-Version:
      - '2018-08-01'
      X-PCO-API-Processor:
      - ENG_2.2.2
      X-PCO-API-Request-Rate-Count:
      - '3'
      X-PCO-API-Request-Rate-Limit:
      - '100'
      X-PCO-API-Request-Rate-Period:
      - '20'
    status:
      code: 200
      message: OK
version: 1
