interactions:
- request:
    body: '{"data": {"type": "Song", "attributes": {"title": "Jesus Loves Me", "author":
      "Public Domain"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.planningcenteronline.com/services/v2/songs
  response:
    body:
      string: '{"data":{"type":"Song","id":"18338876","attributes":{"admin":null,"author":"Public
        Domain","ccli_number":null,"copyright":null,"created_at":"2019-11-23T21:52:41Z","hidden":false,"last_scheduled_at":null,"last_scheduled_short_dates":null,"notes":null,"themes":null,"title":"Jesus
        Loves Me","updated_at":"2019-11-23T21:52:41Z"},"links":{"arrangements":"https://api.planningcenteronline.com/services/v2/songs/18338876/arrangements","assign_tags":"https://api.planningcenteronline.com/services/v2/songs/18338876/assign_tags","attachments":"https://api.planningcenteronline.com/services/v2/songs/18338876/attachments","last_scheduled_item":"https://api.planningcenteronline.com/services/v2/songs/18338876/last_scheduled_item","song_schedules":"https://api.planningcenteronline.com/services/v2/songs/18338876/song_schedules","tags":"https://api.planningcenteronline.com/services/v2/songs/18338876/tags","self":"https://api.planningcenteronline.com/services/v2/songs/18338876"}},"included":[],"meta":{"parent":{"id":"263468","type":"Organization"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      ETag:
      - W/"0e2954c4f87b54199de56030c7f6e11c"
      X-PCO-API-Auth-Method:
      - HTTPBasic
      X-PCO-API-Processed-As-Version:
      - '2018-08-01'
      X-PCO-API-Processor:
      - ENG_2.2.2
      X-PCO-API-Request-Rate-Count:
      - '1'
      X-PCO-API-Request-Rate-Limit:
      - '100'
      X-PCO-API-Request-Rate-Period:
      - '20'
    status:
      code: 201
      message: Created
version: 1
