interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.planningcenteronline.com/people/v2/people/16555904
  response:
    body: {string: '{"data":{"type":"Person","id":"16555904","attributes":{"anniversary":null,"avatar":"https://people.planningcenteronline.com/static/no_photo_thumbnail_man_gray.svg","birthdate":"1916-01-01","child":false,"created_at":"2016-04-23T01:19:54Z","demographic_avatar_url":"https://people.planningcenteronline.com/static/no_photo_thumbnail_man_gray.svg","first_name":"Paul","gender":"M","given_name":null,"grade":null,"graduation_year":null,"inactivated_at":null,"last_name":"Revere","medical_notes":null,"membership":"Participant","middle_name":null,"name":"Paul
        Revere","nickname":null,"people_permissions":"Editor","remote_id":null,"school_type":null,"site_administrator":false,"status":"active","updated_at":"2017-12-11T19:10:41Z"},"links":{"addresses":"https://api.planningcenteronline.com/people/v2/people/16555904/addresses","apps":"https://api.planningcenteronline.com/people/v2/people/16555904/apps","connected_people":"https://api.planningcenteronline.com/people/v2/people/16555904/connected_people","emails":"https://api.planningcenteronline.com/people/v2/people/16555904/emails","field_data":"https://api.planningcenteronline.com/people/v2/people/16555904/field_data","household_memberships":"https://api.planningcenteronline.com/people/v2/people/16555904/household_memberships","households":"https://api.planningcenteronline.com/people/v2/people/16555904/households","inactive_reason":null,"marital_status":null,"message_groups":"https://api.planningcenteronline.com/people/v2/people/16555904/message_groups","messages":"https://api.planningcenteronline.com/people/v2/people/16555904/messages","name_prefix":null,"name_suffix":null,"person_apps":"https://api.planningcenteronline.com/people/v2/people/16555904/person_apps","phone_numbers":"https://api.planningcenteronline.com/people/v2/people/16555904/phone_numbers","school":null,"social_profiles":"https://api.planningcenteronline.com/people/v2/people/16555904/social_profiles","workflow_cards":"https://api.planningcenteronline.com/people/v2/people/16555904/workflow_cards","self":"https://api.planningcenteronline.com/people/v2/people/16555904"}},"included":[],"meta":{"can_include":["addresses","emails","field_data","households","inactive_reason","marital_status","name_prefix","name_suffix","person_apps","phone_numbers","school","social_profiles"],"parent":{"id":"197716","type":"Organization"}}}'}
    headers:
      Content-Type: [application/vnd.api+json; charset=utf-8; charset=utf-8]
      ETag: [W/"bbd48e1dbeaf0c7f48d8d3371e6a92e4"]
      Status: [200 OK]
      X-PCO-API-Auth-Method: [HTTPBasic]
      X-PCO-API-Request-Rate-Count: ['1']
      X-PCO-API-Request-Rate-Limit: ['100']
      X-PCO-API-Request-Rate-Period: [20 seconds]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.planningcenteronline.com/people/v2/people?where%5Blast_name%5D=Revere
  response:
    body: {string: '{"links":{"self":"https://api.planningcenteronline.com/people/v2/people?where[last_name]=Revere"},"data":[{"type":"Person","id":"16555904","attributes":{"anniversary":null,"avatar":"https://people.planningcenteronline.com/static/no_photo_thumbnail_man_gray.svg","birthdate":"1916-01-01","child":false,"created_at":"2016-04[...]
