interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.planningcenteronline.com/services/v2/report_templates?offset=0&per_page=25
  response:
    body:
      string: '{"links":{"self":"https://api.planningcenteronline.com/services/v2/report_templates?offset=0&per_page=25","next":"https://api.planningcenteronline.com/services/v2/report_templates?offset=25&per_page=25"},"data":[{"type":"ReportTemplate","id":"3","attributes":{"body":"<html>\r\n    <head>\r\n        <title>{{
        plan.ministry.name }}:: {{ plan.dates }}</title>\r\n        <style>\r\n            *
        { font-family: Verdana, Arial; padding:0; margin:0; }\r\n\t    body, th, td
        { font-size: 9pt; }\r\n\t\t.item { padding: 5px; }\r\n\t\t#plan thead { display:
        table-header-group; border: solid 4px black; }\r\n\t\t#plan { border-collapse:
        collapse; border: solid 4px black; width: 100%; font-size: 9pt; }\r\n\t\t#plan
        th { background-color: black; color: white; }\r\n\t\t#header { width: 100%;
        }\r\n\t\t.times { width: 100%; border: solid 2px #999; }\r\n\t\t.times thead
        th { background-color: #eee; }\r\n\t\t.times tbody th { width: 10%; }\r\n\t\t.times
        tbody td { width: 40%; }\r\n        </style>\r\n    </head>\r\n<body>\r\n<table
        id=\"header\" width=\"100%\">\r\n\t<tr>\r\n\t\t<td rowspan=2 width=\"70pt\"
        style=\"background-color: black; color:white; font-weight: bold; text-align:
        center;\">SERVICE ORDER</td>\r\n\t\t<td colspan=2 style=\"background-color:
        black; color:white; font-size: 25pt; font-weight: bold; text-align: center;
        padding: 3px;\">{{ plan.plan_title }}</td>\r\n\t\t<td rowspan=2 width=\"70pt\"
        style=\"background-color: black; color:white; font-weight: bold; text-align:
        center;\">SERVICE ORDER</td>\r\n\t</tr>\r\n\t<tr>\r\n\t\t<td style=\"text-align:
        center; font-size: 12pt;\">{{ plan.series_title }}</td>\r\n\t\t<td style=\"text-align:
        center; font-size: 12pt;\">{{ plan.dates }}</td>\r\n\t</tr>\r\n</table>\r\n<div
        style=\"background-color: black; height: 6pt; margin: 5pt 0;\"></div>\r\n<table
        width=\"100%;\">\r\n    <tr>\r\n\t<td style=\"width: 150pt; border: solid
        1px black; vertical-align: top; font-size: 8pt; padding: 5px; padding-top:
        0px;\">\r\n\t\t{% for plan_person in plan.plan_people_not_declined %}\r\n\t\t\t{%
        if last_category != plan_person.category.id%}\r\n\t\t\t\t<div style=\"clear:
        both; border-bottom: solid 1px lightgrey; margin-top: 5px; font-weight: bold;
        font-size: 12pt;\">\r\n\t\t\t\t\t{{ plan_person.category.name }}\r\n\t\t\t\t</div>\r\n\t\t\t{%
        endif %}\r\n\t\t\t{% assign last_category = plan_person.category.id %}\r\n\t\t\t<div><strong>{{
        plan_person.position }}: </strong>{{ plan_person.person.name }}\r\n\t\t\t\t{%
        if plan_person.status == ''U'' %} <img src=\"https://www.planningcenteronline.com/assets/icon_plan_person_u.gif\"
        />{% endif %}\r\n\t\t\t</div>\r\n\t\t{% endfor %}\r\n\t</td>\r\n\r\n\t<td
        valign=\"top\">\r\n\t        <table id=\"plan\">\r\n\t\t  <thead>\r\n\t            <tr>\r\n\t\t\t<th>TIME</th>\r\n\t\t\t<th>{{
        plan.plan_title }}</th>\r\n\t\t\t<th align=\"right\">LENGTH</th>\r\n\t            </tr>\r\n\t\t  </thead>\r\n\t\t    {%
        for item in plan.items %}\r\n\t\t\t{% case item.item_type %}\r\n\t\t\t\t{%
        when ''Header'' %}\r\n\t\t\t\t{% else %}\r\n\t\t\t\t\t<tr>\r\n\t\t\t\t\t\t<td
        class=\"item\">{{ item.offset }}</td>\r\n\t\t\t\t\t\t<td class=\"item\"><strong>{{
        item.title }}:</strong> {{ item.description }}</td>\r\n\t\t\t\t\t\t<td class=\"item\"
        align=\"right\">{% if item.length != \"0:00\" %}{{ item.length }}{% endif
        %}</td>\r\n\t\t\t\t\t</tr>\r\n\t\t\t{% endcase %}\r\n\t\t    {% endfor %}\r\n\t        </table>\r\n\t\t<table
        class=\"times\">\r\n\t\t\t<thead>\r\n\t\t\t\t<tr>\r\n\t\t\t\t\t<th colspan=4>SATURDAY
        REHEARSAL</th>\r\n\t\t\t\t</tr>\r\n\t\t\t</thead>\r\n\t\t\t<tbody>\r\n\t\t\t\t{%
        assign even = 0 %}\r\n\t\t\t\t<tr>\r\n\t\t\t\t\t{% for time in plan.rehearsal_times
        %}\r\n\t\t\t\t\t\t{{ time.starts_at | date: ''%A'' | assign_to: ''day_of_week''
        }}\r\n\t\t\t\t\t\t{% if day_of_week == ''Saturday'' %}\r\n\t\t\t\t\t\t\t<th>{{
        time.starts_at | date: ''%I:%M'' }}</th>\r\n\t\t\t\t\t\t\t<td>{{ time.name
        }}</td>\r\n\t\t\t\t\t\t\t{% if even == 1 %}\r\n\t\t\t\t\t\t\t\t</tr><tr>\r\n\t\t\t\t\t\t\t\t{%
        assign even = 0 %}\r\n\t[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.planningcenteronline.com/services/v2/report_templates?offset=25&per_page=25
  response:
    body:
      string: '{"links":{"self":"https://api.planningcenteronline.com/services/v2/report_templates?offset=25&per_page=25","prev":"https://api.planningcenteronline.com/services/v2/report_templates?offset=0&per_page=25"},"data":[{"type":"ReportTemplate","id":"64747","attributes":{"body":"<!--\r\nQUICK
        CUSTOMIZATION:\r\n\r\n{% assign print_picture = \"true\" %}\r\n{% assign print_email
        = \"false\" %}\r\n{% assign print_phone = \"false\" %}\r\n{% assign print_address
        = \"false\" %}\r\n{% assign print_birthday = \"false\" %}\r\n{% assign print_anniversary
        = \"false\" %}\r\n{% assign print_notes = \"false\" %}\r\n{% assign print_people_positions
        = \"true\" %} (setting this to true will cause your report to run MUCH slower)\r\n\r\n{%
        assign picture_width = \"50\" %}\r\n\r\nSORTING:\r\n{% assign sorted_people
        = people | sort: \"first_name\" %}\r\nYou can sort on:\r\n\t- last_name\r\n\t-
        first_name\r\n\t- updated_at\r\n\t- last_scheduled\r\n\t- created_at\r\n\t-
        logged_in_at\r\n-->\r\n\r\n<html>\r\n    <head>\r\n        <title>People</title>\r\n        <style>\r\n            *
        { font-family: Verdana, Arial; font-size: 10pt; }\r\n            body { padding:0;
        margin:0; }\r\n\r\n.container { width: ; margin: 0 auto; }\r\n\r\n.people
        { border-collapse: collapse; border: solid 1px black; width: 100%; font-size:
        0.9em;  }\r\n\r\n.people th {\r\nbackground-color: #DDD;\r\nfont-size: 12pt;\r\ntext-align:
        left;\r\npadding: 2px;\r\nvertical-align: center;\r\nborder: solid 1px black;\r\n}\r\n\r\n.people
        td {\r\npadding: 2px;\r\nvertical-align: top;\r\nborder: solid 1px black;\r\n}
        \r\n\r\n.address {\r\nalign: left;\r\nborder-collapse: collapse;\r\nmargin:
        0;\r\npadding: 0;\r\n}\r\n\r\n.address td {\r\nborder: none;\r\nmargin: 0;\r\npadding:
        0;\r\n}\r\n\r\nH1 {\r\nfont-size: 26pt;\r\ntext-align: center;\r\npadding:
        0;\r\nmargin: 0;\r\n}\r\n\r\nH2 {\r\nfont-size: 16pt;\r\ntext-align: center;\r\npadding:
        0;\r\nmargin: 0;\r\n}\r\n\r\n#schedule { border-collapse: collapse; border:
        none; width: 100%; }\r\n#schedule td { width: 33%; border: none; border-bottom:
        solid 1px lightgray; }\r\n#schedule tr:last-child td { border: none; }\r\n        </style>\r\n    </head>\r\n    <body>\r\n    <div
        class=\"container\">\r\n        <h1>Future Schedule</h1>\r\n        <h2>{{
        organization.name }}</h2>\r\n        </br>\r\n\t<table class=\"people\">\r\n              <tr>\r\n                 {%
        if print_picture == \"true\"%}<th></th>{% endif %}\r\n        \t <th>Name</th>\r\n        \t
        <th>Future Schedule</th>\r\n                 {% if print_email == \"true\"%}<th>Email</th>{%
        endif %}\r\n                 {% if print_phone == \"true\"%}<th>Phone</th>{%
        endif %}\r\n                 {% if print_address == \"true\"%}<th>Address</t[...]
