interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.planningcenteronline.com/people/v2/people?offset=0&per_page=25
  response:
    body:
      string: '{"links":{"self":"https://api.planningcenteronline.com/people/v2/people?offset=0&per_page=25","next":"https://api.planningcenteronline.com/people/v2/people?offset=25&per_page=25"},"data":[{"type":"Person","id":"40135868","attributes":{"accounting_administrator":true,"anniversary":null,"avatar":"https://people.planningcenteronline.com/static/no_photo_thumbnail_gray.png","birthdate":null,"child":false,"created_at":"2018-08-03T01:13:32Z","demographic_avatar_url":"https://people.planningcenteronline.com/static/no_photo_thumbnail_gray.png","first_name":"Bill","gender":null,"given_name":null,"grade":null,"graduation_year":null,"inactivated_at":null,"last_name":"Deitrick","medical_notes":null,"membership":null,"middle_name":null,"name":"Bill
        Deitrick","nickname":null,"passed_background_check":false,"people_permissions":null,"remote_id":null,"school_type":null,"site_administrator":true,"status":"active","updated_at":"2018-11-25T20:19:47Z"},"relationships":{"primary_campus":{"data":null}},"links":{"self":"https://api.planningcenteronline.com/people/v2/people/40135868"}},{"type":"Person","id":"45029164","attributes":{"accounting_administrator":false,"anniversary":null,"avatar":"https://people.planningcenteronline.com/static/no_photo_thumbnail_gray.png","birthdate":null,"child":false,"created_at":"2018-11-25T20:31:31Z","demographic_avatar_url":"https://people.planningcenteronline.com/static/no_photo_thumbnail_gray.png","first_name":"Paul","gender":null,"given_name":n[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.planningcenteronline.com/people/v2/people?offset=25&per_page=25
  response:
    body:
      string: '{"links":{"self":"https://api.planningcenteronline.com/people/v2/people?offset=25&per_page=25","prev":"https://api.planningcenteronline.com/people/v2/people?offset=0&per_page=25","next":"https://api.planningcenteronline.com/people/v2/people?offset=50&per_page=25"},"data":[{"type":"Person","id":"70086235","attributes":{"accounting_administrator":false,"anniversary":null,"avatar":"https://people.planningcenteronline.com/static/no_photo_thumbnail_gray.png","birthdate":null,"child":false,"created_at":"2019-12-08T05:57:08Z","demographic_avatar_url":"https://people.planningcenteronline.com/static/no_p[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.planningcenteronline.com/people/v2/people?offset=0&per_page=25&include=emails&where%5Bsite_administrator%5D=false
  response:
    body:
      string: '{"links":{"self":"https://api.planningcenteronline.com/people/v2/people?include=emails&offset=0&per_page=25&where[site_administrator]=false","next":"https://api.planningcenteronline.com/people/v2/people?include=emails&offset=25&per_page=25&where[site_administrator]=false"},"data":[{"type":"Person","id":"45029164","attributes":{"accounting_administrator":false,"anniversary":null,"avatar":"https://people.planningcenteronline.com/static/no_photo_thumbnail_gray.png","birthdate":null,"child":false,"created_at":"2018-11-25T20:31:31Z","demographic_avatar_url":"https://people.planningcenteronline.com/static/no_photo_thumbnail_gray.png","first_name":"Paul","gender":null,"given_name":null,"grade":null,"graduation_year":null,"inactivated_at":null,"last_name":"Revere","medical_notes":null,"membership":null,"middle_name":null,"name":"Paul
        Revere","nickname":null,"passed_background_check":false,"people_permissions":null,"remote_id":null,"school_type":null,"site_administrator":false,"status":"active","updated_at":"2019-12-09T17:48:20Z"},"relationships":{"primary_campus":{"data":null},"emails":{"links":{"related":"https://api.planningcenteronline.com/people/v2/people/45029164/emails"},"data":[{"type":"Email","id":"29871166"}]}},"links":{"self":"https://api.planningcenteronline.com/people/v2/people/45029164"}},{"type":"Person","id":"70086210","attributes":{"accounting_administrator":false,"anniversary":null,"avatar":"https://people.planningcenteronline.com/static/no_photo_thumbnail_gray.png","birthdate":null,"child":false,"created_at":"2019-12-08T05:56:30Z","demographic_avatar_url":"https://people.plannin[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.planningcenteronline.com/people/v2/people?offset=0&per_page=25&include=emails%2Corganization&where%5Bsite_administrator%5D=false
  response:
    body:
      string: '{"links":{"self":"https://api.planningcenteronline.com/people/v2/people?include=emails%2Corganization&offset=0&per_page=25&where[site_administrator]=false","next":"https://api.planningcenteronline.com/people/v2/people?include=emails%2Corganization&offset=25&[...]
[...]
