interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.planningcenteronline.com/people/v2/people?offset=0&per_page=25
  response:
    body:
      string: '{"links":{"self":"https://api.planningcenteronline.com/people/v2/people?offset=0&per_page=25","next":"https://api.planningcenteronline.com/people/v2/people?offset=25&per_page=25"},"data":[{"type":"Person","id":"40135868","attributes":{"accounting_administrator":true,"anniversary":null,"avatar":"https://people.planningcenteronline.com/static/no_photo_thumbnail_gray.png","birthdate":null,"child":false,"created_at":"2018-08-03T01:13:32Z","demographic_avatar_url":"https://people.planningcenteronline.com/static/no_photo_thumbnail_gray.png","first_name":"Bill","gender":null,"given_name":null,"grade":null,"graduation_year":null,"inactivated_at":null,"last_name":"Deitrick","medical_notes":null,"membership":null,"middle_name":null,"name":"Bill
        Deitrick","nickname":null,"passed_background_check":false,"people_permissions":null,"remote_id":null,"school_type":null,"site_administrator":true,"status":"active","updated_at":"2020-01-21T04:10:15Z"},"relationships":{"primary_campus":{"data":null}},"links":{"self":"https://api.planningcenteronline.com/people/v2/people/40135868"}},{"type":"Person","id":"72078195","attributes":{"accounting_administrator":false,"anniversary":null,"avatar":"https://people.planningcenteronline.com/static/no_photo_thumbnail_gray.png","birthdate":null,"child":false,"created_at":"2020-01-25T16:59:04Z","demographic_avatar_url":"https://people.planningcenteronline.com/static/no_photo_thumbnail_gray.png","first_name":"Ktjzqm","gender":null,"given_name"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.planningcenteronline.com/people/v2/people?offset=25&per_page=25
  response:
    body:
      string: '{"links":{"self":"https://api.planningcenteronline.com/people/v2/people?offset=25&per_page=25","prev":"https://api.planningcenteronline.com/people/v2/people?offset=0&per_page=25"},"data":[{"type":"Person","id":"72078222","attributes":{"accounting_administrator":false,"anniversary":null,"avatar":"https://people.planningcenteronline.com/static/no_photo_thumbnail_gray.png","birthdate":null,"child":false,"created_at":"2020-01-25T16:59:21Z","demographic_avatar_url":"https://people.planningcenteronline.com/static/no_photo_thumbnail_gray.png","first_name":"Ghmvgf","gender":null,"given_name":null,"grade[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.planningcenteronline.com/people/v2/people?offset=0&per_page=25&include=emails&where%5Bsite_administrator%5D=false
  response:
    body:
      string: '{"links":{"self":"https://api.planningcenteronline.com/people/v2/people?include=emails&offset=0&per_page=25&where[site_administrator]=false","next":"https://api.planningcenteronline.com/people/v2/people?include=emails&offset=25&per_page=25&where[site_administrator]=false"},"data":[{"type":"Person","id":"72078195","attributes":{"accounting_administrator":false,"anniversary":null,"avatar":"https://people.planningcenteronline.com/static/no_photo_thumbnail_gray.png","birthdate":null,"child":false,"created_at":"2020-01-25T16:59:04Z","demographic_avatar_url":"https://people.planningcenteronline.com/static/no_photo_thumbnail_gray.png","first_name":"Ktjzqm","gender":null,"given_name":null,"grade":null,"graduation_year":null,"inactivated_at":null,"last_name":"Ohowzjfz","medical_notes":null,"membership":null,"middle_name":null,"name":"Ktjzqm
        Ohowzjfz","nickname":null,"passed_background_check":false,"people_permissions":null,"remote_id":null,"school_type":null,"site_administrator":false,"status":"active","updated_at":"2020-01-25T16:59:05Z"},"relationships":{"primary_campus":{"data":null},"emails":{"links":{"related":"https://api.planningcenteronline.com/people/v2/people/72078195/emails"},"data":[{"type":"Email","id":"42869692"}]}},"links":{"self":"https://api.planningcenteronline.com/people/v2/people/72078195"}},{"type":"Person","id":"72078196","attributes":{"accounting_administrator":false,"anniversary":null,"avatar":"https://people.planningcenteronline.com/static/no_photo_thumbnail_gray.png","birthdate":null,"child":false,"created_at":"2020-01-25T16:59:05Z","demographic_avatar_url":"https://people.plannin[...]
[...]
